body {
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  user-select: none;
  position: relative;
}
a {
  color: black;
  font-weight: bolder;
  font-size: small;
}
.app-container {
  width: 375px;
  height: 812px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(226, 246, 255, 1);
}

.app-container .logo-wrapper {
  width: 100%;
  text-align: center;
}

.app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}

.app-title h1 {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 0px;
}
.app-title h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36.31px;
}

.app-title a {
  transition: font-size 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.app-title a:hover {
  font-size: 16px;
}

.screen-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 55px 30px;
  gap: 40px;
}
.screen-container .unit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 150px;
}

.screen-container .unit-list .unit-item {
  width: 90px;
  height: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgba(37, 40, 105, 1);
}

.screen-container .unit-list .unit-item div {
  width: 87.63px;
  height: 87.63px;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(162, 192, 219, 1);
  border-radius: 12px;
  align-content: center;
  justify-items: center;
}

.screen-container .unit-list .unit-item span {
  font-size: 12.76px;
  font-weight: 400;
  line-height: 17.86px;
}
.screen-container .unit-list .unit-item:hover div {
  padding: 15px;
}

.button {
  background: rgba(162, 192, 219, 1);
  width: fit-content;
  border-radius: 14px;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px rgba(58, 39, 89, 0.19);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  align-self: center;
}
.button:hover {
  font-size: 24px;
}

@media (max-width: 768px) {
  .app-container {
    transform: translateY(0);
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
<<<<<<< HEAD

  .screen-container .unit-list .unit-item {
    width: 90px;
  }
=======
>>>>>>> fd9655ec05edd475b260d79c89639611bb8ced9e
}
